In [1]:
import pandas as pd
import numpy as np

In [14]:
a=pd.read_csv('test_set_features.csv')
a=a['respondent_id']

In [15]:
b=pd.read_csv('final_sub.csv')
b=b['seasonal_vaccine']

In [16]:
c=pd.read_csv('final_sub1.csv')
c=c['xyz_vaccine']

In [17]:
df=pd.DataFrame({'respondent_id':a,'seasonal_vaccine':b,'xyz_vaccine':c})

In [18]:
df

       respondent_id  seasonal_vaccine  xyz_vaccine
0              26707          0.175622     0.185586
1              26708          0.127380     0.182816
2              26709          0.836426     0.188581
3              26710          0.794434     0.186252
4              26711          0.644058     0.432058
...              ...               ...          ...
26703          53410          0.203209     0.185839
26704          53411          0.402141     0.236717
26705          53412          0.219979     0.185077
26706          53413          0.483645     0.178579
26707          53414          0.766149     0.188031

[26708 rows x 3 columns]